.checkbox {
    position: relative;
    display : block;
    height  : 100px;

    input {
        position: absolute;
        opacity : 0;
        cursor  : pointer;
        height  : 0;
        width   : 0;

    }

    span {
        top     : 0;
        left    : 0;
        position: absolute;
        width   : 20px;
        height  : 20px;
        border  : solid 2px blue;
    }
}