.components {
    display              : grid;
    grid-template-columns: 200px auto;

    .aside {
        grid-column : 1 / 2;
        padding     : 10px;
        border-right: 1px lightgray solid;
        min-height  : 100vh;

        ul {
            padding: 10px;
        }

        li {
            list-style: none;
        }
    }

    .article {
        grid-column: 2 / 3;
        padding    : 10px;
    }
}