.rating {
    display       : flex;
    flex-direction: row;
    width         : max-content;

    svg {
        width         : 1.5rem;
        height        : 1.5rem;
        padding-inline: 3px;
        cursor        : pointer;
        display       : block;
    }
}