:root {
  
  --scheme               : light;
  --dark                 : 10%;
  --darker               : 15%;
  --darkest              : 30%;
  --light                : 15%;
  --lighter              : 30%;
  --lightest             : 50%;
  --contrast-bg          : 90%;
  --contrast-fg          : 70%;
  --contrast-bg-dark     : 70%;
  --contrast-fg-dark     : 90%;
  --primary              : #3578e5;
  --secondary            : #ebedf0;
  --success              : #00a400;
  --info                 : #54c7ec;
  --warning              : #ffba00;
  --danger               : #fa383e;
  --primary-invert       : #ffffff;
  --secondary-invert     : #000000;
  --success-invert       : #ffffff;
  --info-invert          : #000000;
  --warning-invert       : #000000;
  --danger-invert        : #ffffff;
  --primary-dark         : #306cce;
  --primary-darker       : #2d66c3;
  --primary-darkest      : #2554a0;
  --primary-light        : #538ce9;
  --primary-lighter      : #72a1ed;
  --primary-lightest     : #9abcf2;
  --primary-contrast-bg  : #ebf2fc;
  --primary-contrast-fg  : #102445;
  --secondary-dark       : #d4d5d8;
  --secondary-darker     : #c8c9cc;
  --secondary-darkest    : #a4a6a8;
  --secondary-light      : #eef0f2;
  --secondary-lighter    : #f1f2f5;
  --secondary-lightest   : #f5f6f8;
  --secondary-contrast-bg: #fdfdfe;
  --secondary-contrast-fg: #474748;
  --success-dark         : #009400;
  --success-darker       : #008b00;
  --success-darkest      : #007300;
  --success-light        : #26b226;
  --success-lighter      : #4dbf4d;
  --success-lightest     : #80d280;
  --success-contrast-bg  : #e6f6e6;
  --success-contrast-fg  : #003100;
  --info-dark            : #4cb3d4;
  --info-darker          : #47a9c9;
  --info-darkest         : #3b8ba5;
  --info-light           : #6ecfef;
  --info-lighter         : #87d8f2;
  --info-lightest        : #aae3f6;
  --info-contrast-bg     : #eef9fd;
  --info-contrast-fg     : #193c47;
  --warning-dark         : #e6a700;
  --warning-darker       : #d99e00;
  --warning-darkest      : #b38200;
  --warning-light        : #ffc426;
  --warning-lighter      : #ffcf4d;
  --warning-lightest     : #ffdd80;
  --warning-contrast-bg  : #fff8e6;
  --warning-contrast-fg  : #4d3800;
  --danger-dark          : #e13238;
  --danger-darker        : #d53035;
  --danger-darkest       : #af272b;
  --danger-light         : #fb565b;
  --danger-lighter       : #fb7478;
  --danger-lightest      : #fd9c9f;
  --danger-contrast-bg   : #ffebec;
  --danger-contrast-fg   : #4b1113;
  --white                : #fff;
  --black                : #000;
  --gray-100             : #f5f6f7;
  --gray-200             : #ebedf0;
  --gray-300             : #dadde1;
  --gray-400             : #ccd0d5;
  --gray-500             : #bec3c9;
  --gray-600             : #8d949e;
  --gray-700             : #606770;
  --gray-800             : #444950;
  --gray-900             : #1c1e21;
}