:root,
[data-theme="light"] {
    --text                                   : #161616;
    --text-subtle                            : #505050;
    --text-invert                            : #fff;
    --text-glow-high-contrast                : #171717;
    --box-shadow-light                       : #0000001c;
    --box-shadow-medium                      : #00000021;
    --box-shadow-heavy                       : #0000002e;
    --box-shadow-extra-heavy                 : #00000038;
    --overlay                                : #000000b3;
    --overlay-invert                         : #fff;
    --body-background                        : #fff;
    --body-background-accent                 : #e8e6df;
    --body-background-medium                 : #f2f2f2;
    --alternate-background                   : #171717;
    --alternate-background-medium            : #2f2f2f;
    --card-background                        : #fff;
    --border                                 : #e6e6e6;
    --border-accent                          : #e8e6df;
    --border-white-high-contrast             : #fff0;
    --border-yellow-high-contrast            : #0000;
    --table-header                           : #e6e6e6;
    --table-row                              : #f2f2f2;
    --table-row-header                       : #fafafa;
    --table-border-dark                      : #d2d2d2;
    --hover                                  : #2f2f2f;
    --hover-invert                           : #fafafa;
    --code-header                            : #e6e6e6;
    --code-block                             : #f2f2f2;
    --control-border                         : #757575;
    --inline-code                            : #e6e6e6;
    --code-highlight-background              : #fff4ce;
    --visited                                : #624991;
    --score-low-off                          : #a800004d;
    --score-low                              : #b62626;
    --score-medium-off                       : #ffbb004d;
    --score-medium                           : #ffb900;
    --score-high-off                         : #489d484d;
    --score-high                             : #2a8b2a;
    --hyperlink                              : #0065b3;
    --primary                                : #0078d4;
    --primary-background                     : #d7eaf8;
    --primary-background-glow-high-contrast  : #d7eaf8;
    --primary-dark                           : #004173;
    --primary-hover                          : #0065b3;
    --primary-active                         : #00579a;
    --primary-box-shadow                     : #0065b34d;
    --primary-invert                         : #fff;
    --secondary                              : #a2a2a2;
    --secondary-background                   : #e6e6e6;
    --secondary-background-glow-high-contrast: #e6e6e6;
    --secondary-dark                         : #2f2f2f;
    --secondary-hover                        : #d2d2d2;
    --secondary-active                       : #d2d2d2;
    --secondary-box-shadow                   : #0000004d;
    --secondary-invert                       : #000;
    --tertiary                               : #243a5e;
    --tertiary-background                    : #061329;
    --tertiary-background-glow-high-contrast : #061329;
    --tertiary-dark                          : #a4b2c9;
    --tertiary-hover                         : #14294c;
    --tertiary-active                        : #70819f;
    --tertiary-box-shadow                    : #26173f4d;
    --tertiary-invert                        : #fff;
    --success                                : #107c10;
    --success-background                     : #dff6dd;
    --success-background-glow-high-contrast  : #dff6dd;
    --success-dark                           : #054b16;
    --success-hover                          : #0b6413;
    --success-active                         : #054b16;
    --success-box-shadow                     : #489d484d;
    --success-invert                         : #fff;
    --info                                   : #8661c5;
    --info-background                        : #efd9fd;
    --info-background-glow-high-contrast     : #efd9fd;
    --info-dark                              : #3b2e58;
    --info-hover                             : #8661c5;
    --info-active                            : #624991;
    --info-box-shadow                        : #2018434d;
    --info-invert                            : #fff;
    --warning                                : #ffb900;
    --warning-background                     : #fff4ce;
    --warning-background-glow-high-contrast  : #fff4ce;
    --warning-dark                           : #6a4b16;
    --warning-hover                          : #d19501;
    --warning-active                         : #966802;
    --warning-box-shadow                     : #ffbb004d;
    --warning-invert                         : #000;
    --error                                  : #a80000;
    --error-background                       : #fde7e9;
    --error-background-glow-high-contrast    : #fde7e9;
    --error-dark                             : #470001;
    --error-hover                            : #870000;
    --error-active                           : #630001;
    --error-box-shadow                       : #a800004d;
    --error-invert                           : #fff;
    --facepile-red                           : #a80000;
    --facepile-teal                          : #328e9f;
    --facepile-blue                          : #0078d4;
    --gradient-text-purple                   : #702573;
    --gradient-text-blue                     : #00579a;
    --gradient-vivid-start                   : #b84dc6;
    --gradient-vivid-end                     : #0078d4
}

[data-theme="dark"] {
    --text                                   : #e6e6e6;
    --text-subtle                            : #d2d2d2;
    --text-invert                            : #2f2f2f;
    --text-glow-high-contrast                : #e6e6e6;
    --box-shadow-light                       : #0000001c;
    --box-shadow-medium                      : #00000021;
    --box-shadow-heavy                       : #0000002e;
    --box-shadow-extra-heavy                 : #00000038;
    --overlay                                : #000000b3;
    --overlay-invert                         : #fff;
    --body-background                        : #171717;
    --body-background-accent                 : #091f2c;
    --body-background-medium                 : #2f2f2f;
    --alternate-background                   : #f2f2f2;
    --alternate-background-medium            : #fafafa;
    --border                                 : #404040;
    --border-accent                          : #505050;
    --border-white-high-contrast             : #fff0;
    --border-yellow-high-contrast            : #0000;
    --card-background                        : #091f2c;
    --table-header                           : #404040;
    --table-row                              : #2f2f2f;
    --table-row-header                       : #2f2f2f;
    --table-border-dark                      : #505050;
    --hover                                  : #d2d2d2;
    --hover-invert                           : #2f2f2f;
    --code-header                            : #404040;
    --code-block                             : #2f2f2f;
    --control-border                         : #d2d2d2;
    --inline-code                            : #404040;
    --code-highlight-background              : #0b6413;
    --visited                                : #ac7ee1;
    --score-low-off                          : #a80000b3;
    --score-low                              : #b62626;
    --score-medium-off                       : #ffbb004d;
    --score-medium                           : #ffcb3f;
    --score-high-off                         : #489d48b3;
    --score-high                             : #489d48;
    --hyperlink                              : #75b6e7;
    --primary                                : #75b6e7;
    --primary-background                     : #004173;
    --primary-background-glow-high-contrast  : #004173;
    --primary-dark                           : #9ccbee;
    --primary-hover                          : #278cda;
    --primary-active                         : #0078d4;
    --primary-box-shadow                     : #0065b34d;
    --primary-invert                         : #000;
    --secondary                              : #757575;
    --secondary-background                   : #404040;
    --secondary-background-glow-high-contrast: #404040;
    --secondary-dark                         : #e6e6e6;
    --secondary-hover                        : #8e8e8e;
    --secondary-active                       : #a2a2a2;
    --secondary-box-shadow                   : #000000b3;
    --secondary-invert                       : #fff;
    --tertiary                               : #404040;
    --tertiary-background                    : #171717;
    --tertiary-background-glow-high-contrast : #171717;
    --tertiary-dark                          : #e6e6e6;
    --tertiary-hover                         : #505050;
    --tertiary-active                        : #757575;
    --tertiary-box-shadow                    : #0065b34d;
    --tertiary-invert                        : #fff;
    --success                                : #7cbb7b;
    --success-background                     : #054b16;
    --success-background-glow-high-contrast  : #054b16;
    --success-dark                           : #dff6dd;
    --success-hover                          : #489d48;
    --success-active                         : #7cbb7b;
    --success-box-shadow                     : #489d48b3;
    --success-invert                         : #000;
    --info                                   : #9970d3;
    --info-background                        : #3b2e58;
    --info-background-glow-high-contrast     : #3b2e58;
    --info-dark                              : #efd9fd;
    --info-hover                             : #ac7ee1;
    --info-active                            : #d59dff;
    --info-box-shadow                        : #201843b3;
    --info-invert                            : #000;
    --warning                                : #ffb900;
    --warning-background                     : #6a4b16;
    --warning-background-glow-high-contrast  : #6a4b16;
    --warning-dark                           : #fff4ce;
    --warning-hover                          : #ffcb3f;
    --warning-active                         : #ffdf84;
    --warning-box-shadow                     : #ffbb00b3;
    --warning-invert                         : #000;
    --error                                  : #e5a7a8;
    --error-background                       : #630001;
    --error-background-glow-high-contrast    : #630001;
    --error-dark                             : #fde7e9;
    --error-hover                            : #c54f4f;
    --error-active                           : #d4797a;
    --error-box-shadow                       : #a80000b3;
    --error-invert                           : #000;
    --facepile-red                           : #c54f4f;
    --facepile-teal                          : #50e6ff;
    --facepile-blue                          : #278cda;
    --gradient-text-purple                   : #cd9bcf;
    --gradient-text-blue                     : #9ccbee;
    --gradient-vivid-start                   : #b84dc6;
    --gradient-vivid-end                     : #75b6e7
}